.background {
  width: 1440px;
  height: 180px;
  object-fit:contain;
  background: linear-gradient(25.06deg, #75B16C 26.96%,  #F5E589 61.6%);
  position: relative;
}
.title{
  color: whitesmoke;
  font-size: 85px;
  padding-left: 100px;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 20px;
}

.boxItem {
  height: 350px;
  width: 250px;
  padding: 50px;
  background-color: rgb(249, 247, 247);
  margin-top: 30px;
  margin-bottom: 15px;
}
.boxtitle {
  padding-top: 12px;
  padding-bottom: 8px;
  font-size: 25px;
}
.boxItem:hover {
  background-color: var(--color2);
}