.card {
  display: grid;
  grid-template-columns: auto;
  padding: 10px 25px;
  width: 230px;
}
.image {
  width: 230px;
  height: 190px;
  object-fit: contain;
  object-position: center;
}
.discription {
  padding: 15px;
  width: 200px;
  background-color: rgba(117, 177, 108, 1);
  font-family: Cormorant;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}
.text {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.action {
  display: grid;
  grid-auto-flow: column;
  padding-top: 35px;
  font-size: 24px;
  font-weight: 600;
}

