.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.topheader{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 50px;
  background-color: rgba(244, 243, 233, 1);
}
.text {
  font-size: 14px;
  font-weight: 700;
  color: rgba(117, 177, 108, 1);
  text-align: center;
}
.contacts{
  height: 50px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 2, 34, 0.5);
  background-color: rgba(227, 210, 112, 1);
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
}
.socialmedia{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
  background: rgba(227, 210, 112, 1);
  height: 50px;

}
.bottomheader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 80px;
}
.logo {
  margin-right: 20px;
  margin-left: 30px;
  
}
.links{
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.actions{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2,auto);
  justify-content: center;
  align-items: center;
}
