.bg {
  display: grid;
  justify-content: center;
  position: relative;
  width: 1440px;
  height: 350px;
  background: linear-gradient(70.06deg, rgba(159, 147, 75, 0.96) 16.6%, rgba(66, 113, 59, 0.96) 61.96%);
}
.uppercontent{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  column-gap: 30px;
}
.copyright {
  margin-left: 80px;
  width: 600px;
  height: 60px;
  background-color: var(--color2);
  border-radius: 5px;
}
.copyright p{
  padding-top: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: rgba(119, 119, 119, 1);
}
.column {
  padding-top: 20px;
  width: 180px;
  color: white;
  font-size: 14px;
}
.logo {
  padding-right: 50px;
}
.contact {
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 15px;
  padding-top: 20px;
}
.link {
  margin-top: 45px;
  display: grid;
  grid-template-rows: auto;
  color: white;
  font-size: 14px;
  height: 180px;
}
.socialmedia {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 25px 25px 25px;
  column-gap: 10px;
}
.lastcolumn {
  padding-top: 15px;
  width: 180px;
  color: white;
  font-size: 15px;
  line-height: 30px;
}
.lastcolumn h5{
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 17px;
}